
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}
