
/* GALLERY
----------- */
.gallery {
    margin-bottom: 5rem;
}

.gallery__description {
    position: sticky;
    top: 0;
    padding: 2rem 0 3.5rem;
    z-index: 10;
    margin-bottom: 1.5rem;
    background-color: hsla(210, 60%, 98%, .6);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 .3rem 2.5rem #f7fafd;
}

.gallery__title,
.gallery__subtitle {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.gallery__title {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.gallery__subtitle {
    font-size: 1.2rem;
}

.gallery__peoples {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2.5rem;
    row-gap: 1.5rem;
}

.gallery__people {
    font-size: .8rem;
    position: relative;
}

.gallery__people-name,
.gallery__people-role {
    font-weight: 500;
}

.gallery__people-content {
    padding-right: 1rem;
    width: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.gallery__people-role {
    writing-mode: vertical-lr;
    position: absolute;
    font-size: .7rem;
    right: 0;
    top: 0;
}

@media screen and (min-width: 429px) {
    .gallery {
        row-gap: 4rem;
    }

    .gallery__people:nth-child(even) {
        top: 2.5rem;
    }
}

@media screen and (min-width: 793px) {

    .gallery__people-content {
        width: 250px;
    }

    .gallery__people-role {
        font-size: .8rem;
        right: -5px;
    }
}

@media screen and (min-width: 862px) {
    .gallery__description {
        display: flex;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .gallery__title {
        width: 100%;
        margin: 0;
    }

    .gallery__people:nth-child(even) {
        top: 0;
    }

    .gallery__people:nth-child(2),
    .gallery__people:nth-child(5) {
        top: 3rem;
    }
}